@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

.navbar {
    width: 100%;
    color: #fff;
    background-color: #bfcbff;
    height: 70px;
}
.navbar {
    width: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}
nav {
    display: flex;
}
nav ul {
    display: flex;
    margin-right: 10px;
}
nav ul li {
    list-style: none;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    margin: 0px 10px;
}
nav ul li a:hover {
    color: #8096ff;
    cursor: pointer;
}

.navbartop {
    display: flex;
    width: 100%;
    margin: 0px auto;
    align-items: center;
    height: 95px;
    position:relative;
}

.logo {
    color: #bfcbff;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
}

.logosvg {
    width: 3rem;
}


.item {
    padding: 10px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 10px;
    position: absolute;
    right: 0%;
}

.btn {
    outline: none;
    display: block;
    border: solid 1px #bfcbff;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 4px;
    background: #bfcbff;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s linear;
}

.btn:hover {
    background: #8096ff;
    transition: 0.4s ease-in;
}

.btn1 {
    outline: none;
    display: block;
    border: solid 2px #bfcbff;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 4px;
    background: #fff;
    color: #bfcbff;
    cursor: pointer;
    transition: all 0.5s linear; 
}

.btn1:hover {
    background: #8096ff;
    color: #fff;
    border: none;
    transition: 0.4s ease-in;
}

/* footer */

footer {
    width: 100%;
    height: 400px;
    background-color: #AFAEAD;
    margin-top: 60px;
    margin-bottom: 40px;
}
.footer_content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__menu {
    display: flex;
    justify-content: center;
    font-size: 10px;
}
footer ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    margin: 0px 10px;
}
footer ul li a:hover {
    color: #575756;
    cursor: pointer;
}